body {
  background-color: antiquewhite;
  box-sizing: border-box;
}
main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "nav principal";
}
header {
  grid-area: header;
  text-align: center;
  padding: 1rem;
}
nav {
  grid-area: nav;
}

#principal {
  grid-area: principal;
}
#cartas {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 3rem;
  gap: 1rem;
}
#contenedorCartas {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 3rem;
  gap: 1rem;
}

#anterior,
#siguiente {
  padding: 10px;
  border-radius: 2rem;
  margin-left: 5rem;
}
@media (min-width: 550px) {
  #cartas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  #cartas {
    grid-template-columns: repeat(4, 1fr);
  }
}
